<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<h3>Comments:</h3>

<%= render partial: 'comments/form' %>

<% @article.comments.reverse.each do |comment| %>
  <li><%= comment.author_name %>: <%= comment.body %></li>
<% end %>
