<h1><%= @article.title %></h1>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
</p>

<p><%= @article.body %></p>

<h3><%= @article.comments.size %> Comments</h3>

<%= render partial: 'comments/form' %>

<% @article.comments.reverse.each do |comment| %>
  <li><%= comment.author_name %>: <%= comment.body %></li>
<% end %>
